/* Sergio Seijo Martinez, UO300084*/
/*Layout general del proyecto MotoGP-Desktop*/

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header nav a {
    display: flex;
    padding: 1rem;
}

@media (min-width: 320px) and (max-width: 799px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        flex-direction: column;
    }

    header+p {
        display: none;
    }

    video,
    audio {
        width: 100%;
        height: auto;
    }

}

/* Carrusel adaptable */
@media (max-width: 768px) {
    article h2+img {
        width: 100%;
        height: auto;
    }
}

/* Estilo general del mapa dinámico */
body>div {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    height: 500px;
    /* Altura fija para escritorio */
    margin-top: 10px;
    /* Separación respecto a elementos anteriores */
    border: 1px solid #ccc;
    /* Borde opcional */
    box-sizing: border-box;
}

/* Adaptabilidad para dispositivos móviles */
@media screen and (max-width: 768px) {
    body>div {
        height: 300px;
        /* Reducimos altura en móviles */
    }
}

@media screen and (max-width: 480px) {
    body>div {
        height: 250px;
        /* Más compacto en pantallas muy pequeñas */
    }
}